@font-face {
    font-family: roughnotes;
    src: url(fonts/roughnotes.ttf);
}

@font-face {
    font-family: steelfish;
    src: url(fonts/steelfish.ttf);
}

.html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url(images/wood.jpg);
	background-repeat: repeat-x;
	display: table;
}

#signature{
	display: table-cell;
	float:left;
}
#signature:hover{
	color: white;
}

footer div{
	font-size: 12px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

h1{
	font-family: steelfish;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	font-size: 22px;
	color: #7bafd4;
	text-align: left;
	display: inline;
}

h2{
	font-family: steelfish;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
	color: #7bafd4;
	text-align: left;
}

.handwritten{
	  font-family: roughnotes;
	  color: #444;
	  font-size: 18px;
}

#center{
	border-collapse: collapse;
	height: 275px;
	width: 475px;
	margin-left: 100px;
	margin-top: 95px;
}

.rightline:after{
	content: "";
    position: absolute;
    top: 0;
    width: 3px;
    height: 95%;
    background: -webkit-linear-gradient(left, #72a2c1 0%, #7bafd4 50%, #72a2c1 100%);
    right: -9px; 
}

.leftline:before{
	content: "";
    position: absolute;
    top: 0;
    width: 3px;
    height: 95%;
    background: -webkit-linear-gradient(left, #72a2c1 0%, #7bafd4 50%, #72a2c1 100%);
    left: -9px; 
}

.topline:before{
	top: 1px;
	left:0;
	content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: -webkit-linear-gradient(top, #72a2c1 0%, #7bafd4 50%, #72a2c1 100%);
}

.topline{
 	position: relative;
	width: 100%;
	height: 100%;
}

.bottomline:after{
	left: 0;
	bottom: 0px;
	content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: -webkit-linear-gradient(top, #72a2c1 0%, #7bafd4 50%, #72a2c1 100%);
}

.bottomline{
 	position: relative;
	width: 100%;
	height: 100%;
}

.lines{
  margin: 0 auto;
  padding: 4px;
  position: relative;
  color: #444;
  line-height: 20px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, #72a2c1 91%, #7bafd4 95%, #72a2c1 100%);
  background-size: 100% 20px;
  height: 100%;

  font-family: roughnotes;
  font-size: 17px;
}

#cake{
	margin-right: 20px;
}

.underscore{
	position: relative;
	width: 100%;
	height: 100%;
}

.underscore:after{
	left: 5px;
	bottom: 3px;
	content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(top, #72a2c1 0%, #7bafd4 50%, #72a2c1 100%);
}

#recipecard{
	background-image: url(images/cards.png);
	display: inline-block;
	border-radius: 30px;

	height: 434px;
	width: 639px;

	display: table;
    margin: 0 auto;
    margin-top: 200px;
}

#directions{

}

#ingredients{
	width: 35%;
	padding-right: 10px;
}

#top{
	width: 100%;
	height: 100%;
}

#bottom{
	width: 100%;
	height: 100%;
}

td{
	vertical-align: top;
}